.imageItem {
  position: relative;
  overflow: hidden;
}

.image {
  transition: transform 0.3s ease;
}

.imageItem:hover .image {
  transform: scale(1.01); /* Phóng to ảnh khi hover */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền lớp phủ */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 10px;
}

.imageItem:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.overlay h3
{
  max-width: 90%;
  max-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.modal_container {
  display: flex;
  width: 100%;
}

.modal_contentBox {
  display: flex;
  width: 40%; /* Chiếm 1/3 chiều ngang của container */
  margin: 15px 10px 15px 15px;
  flex-direction: column;
}

.modal_title {
  margin: 0;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  width: 100%;
  color: #1C5633;
  text-align: left;
  font-size: 26px;
}

.modal_writer {
  font-size: 19px;
  font-family: 'Times New Roman';
  color:#AFC312 ;
  text-align: left;
  margin:0;
}

.modal_content {
  font-size: 18px;
  font-family: 'Times New Roman';
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.modal_img {
  display: inline-block;
  width: 60%; /* Chiếm 2/3 chiều ngang của container */
  height: 100%; /* Phủ toàn bộ chiều cao */
  border-radius: 0px 8px 8px 0px;
  object-fit: cover;
  object-position: center;
  border-left: 2px solid #A0A0A0;
  padding-left: 0.2px;
}

