.container {
    display: flex;
    align-items: center;
    background-color: #F7F7F7;
    height: 40px; 
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
}

.container:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Tăng độ bóng khi hover */
}

.searchIcon {
    color: #999; /* Đã xóa dấu '' */
    margin-right: 8px;
}

.inputText {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    font-size: 16px; /* Đơn vị đã được thêm vào */
    color: #333;
    background: none;
}

.inputText::placeholder {
    color: #999;
    opacity: 1; 
}

.inputText:focus {
    transition: border-color 0.3s ease; /* Hiệu ứng chuyển đổi */
}

.mediaItem
{

}

.mediaBox
{

}